*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.keystore
**/*.aab
**/*.apk
app/src/main/assets/kokoro/
app/src/main/assets/kitten/

# IDE and Temp
.vscode/
.kotlin/
.idea/
*.log
